.mod-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  &__inner {
    min-width: 320px;
    padding-top: 20px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
  }

  &__logo {
    margin-right: auto;
  }

  &__menu {
    display: grid;
    gap: 24px;
    margin-top: 45px;
  }
  
  &__item {}

  &__link {
    position: relative;
    display: block;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.2px;

    &--active {
      color: $color-secondary;

      &::before {
        content: '';
        position: absolute;
        left: -4px;
        display: block;
        height: 100%;
        width: 8px;
        border-radius: 20px;
        background-color: $color-accent;
      }
    }
  }

  &__bottom {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__list {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
  }

  &__mail {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
  }

  &__tel {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33em;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 8px;

    &-btn {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: -0.2px;

      &--active {
        color: $color-secondary;
      }
    }
  }
}